<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.loginDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\loginDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
      <add name="database" providerName="Npgsql" connectionString="Server=postgres://wvifgiff:Zhva4tzKGSLHjebZG00lJz4fNp4RkJYd@babar.elephantsql.com:5432/wvifgiff;Port=5432;
           Database=ELEPHANTSQL_URL;User=SFCMU;Password=flashcards"/>
    </connectionStrings>
</configuration>